$breakpoint-laptop: 1200px; // 작은 노트북 기준
$breakpoint-tablet: 992px;  // 태블릿 기준
$breakpoint-mobile: 600px;  // 모바일 기준

@mixin laptop {
  @media (max-width: #{$breakpoint-laptop}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}