@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f5f7fa;
  color: #333;
}

#app {
  margin: 0 auto;
  width: 1200px;

  @include laptop {
    width: 95%;
  }

  @include tablet {
    width: 100%;
    padding: 0 10px;
  }
}

.common-search-area{
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.common-grid-area{
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}