@use './variables';

$PC: 1280px;
$Tablet: 960px;
$Mobile: 600px;

@mixin mobile {
  @media (max-width: #{$Mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$Tablet}) {
    @content;
  }
}

@mixin pc {
  @media (min-width: #{$Tablet + 1px}) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f5f7fa;
  color: #333;
}

#app {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}